name: Final Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build aarch64
        uses: houseabsolute/actions-rust-cross@v0
        with:
          command: build
          target: aarch64-unknown-linux-gnu
          args: "--release"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: meditrack-aarch64
          path: target/aarch64-unknown-linux-gnu/release/meditrack
